<!DOCTYPE html>
<html>
    <head>
        <title>Blog de Roberto Salazar</title>
    </head>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet" />
    <body>
        <header class="header">
            <h2>Blog de Roberto Salazar</h2>
        </header>
        <div class="content">
            <h3>Lista de entradas</h3>
            <div class="listing">
                <div class="listing-item">
                    <div class="left">
                        <img src="./leeroy.jpg" />
                    </div>
                    <div class="right">
                        <div class="date-title">
                            <h4 class="title">Generación de cartas de Hearthstone con redes neuronales recurrentes.</h4>
                            <label class="date">14/diciembre/2018</label>
                        </div>
                        <div class="excerpt-readmore">
                            <div class="excerpt">
                                    En esta entrada del blog se presentan los resultados de entrenar una red LSTM
                                    para la generación de texto aleatorio a nivel caracter con los textos de todas 
                                    las cartas de Hearthstone existentes hasta el momento...
                            </div>
                            <a class="readmore" href="/cards-generation">
                                Seguir leyendo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="listing-item">
                    <div class="left">
                        <img src="https://susanqq.github.io/UTKFace/icon/samples.png" />
                    </div>
                    <div class="right">
                        <div class="date-title">
                            <h4 class="title">Estimación de edad y genero con redes neuronales convolucionales.</h4>
                            <label class="date">17/noviembre/2018</label>
                        </div>
                        <div class="excerpt-readmore">
                            <div class="excerpt">
                                La estimación de edad y género es una taréa importante tanto para los humanos
                                como para la vision por computadora. Este tipo de estimación tiene muchas aplicaiones,
                                principalmente para los forences y las redes sociales...
                            </div>
                            <a class="readmore" href="/age-gender">
                                Seguir leyendo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <span>José Roberto Salazar Espinoza - 2018</span>
        </footer>
    </body>
</html>